.contacto {
    &__title {
        text-align: center;
        padding-bottom: 15px;
    }

    &__info {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__subtitle {
        font-size: 1.75rem;
        color: #333;
        margin-bottom: 0.5rem;
    }

    // &__logo {
    //     max-width: 100%;
    //     height: auto;
    //     margin-top: 1rem;
    // }

}